<form method="POST" action="/photo" enctype="multipart/form-data">
  <p>Photo: <input type="file" name="photo"></p>
  <p>Description: <input type="text" name="description"></p>
  <input type="hidden" name="album_id" value="1">
  <p><input type="submit"></p>
</form>
